<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/index.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}">
    <title>Snusgavekort</title>
</head>
<body>

<div id="container-1" class="container">
    <div class="confetti">
        <div class="ellipse-3"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-5"></div>
    </div>
    <div class="confetti">
        <div class="ellipse-2"></div>
        <div class="rectangle-1"></div>
        <div class="ellipse-3"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-4"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-5"></div>
        <div class="rectangle-4"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-1"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-3"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-5"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-1"></div>
        <div class="ellipse-3"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-3"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-2"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-2"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-1"></div>
        <div class="ellipse-5"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-4"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-4"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-3"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-1"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-4"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-2"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-2"></div>
    </div>
    <div class="confetti">
        <div class="ellipse-1"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
    </div>
</div>
<div id="container-2" class="container">
    <div class="confetti">
        <div class="ellipse-2"></div>
        <div class="rectangle-1"></div>
        <div class="ellipse-3"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-4"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-5"></div>
        <div class="rectangle-4"></div>
    </div>
    <div class="confetti">
        <div class="ellipse-3"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-5"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-1"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-3"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-5"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-2"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-3"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-1"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-4"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-2"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-1"></div>
        <div class="ellipse-5"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-4"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-1"></div>
        <div class="ellipse-3"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-3"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-4"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
    </div>
    <div class="confetti">
        <div class="ellipse-1"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-2"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-2"></div>
    </div>
</div>
<div id="container-3" class="container">
    <div class="confetti">
        <div class="ellipse-2"></div>
        <div class="rectangle-1"></div>
        <div class="ellipse-3"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-4"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-5"></div>
        <div class="rectangle-4"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-1"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-3"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-5"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-1"></div>
        <div class="ellipse-3"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-3"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-2"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
    </div>
    <div class="confetti">
        <div class="ellipse-3"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-5"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-2"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-1"></div>
        <div class="ellipse-5"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-4"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-3"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-1"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-4"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-2"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-5"></div>
        <div class="ellipse-2"></div>
    </div>
    <div class="confetti">
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-1"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-4"></div>
        <div class="ellipse-4"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
    </div>
    <div class="confetti">
        <div class="ellipse-1"></div>
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="ellipse-2"></div>
        <div class="rectangle-3"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-4"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
    </div>
</div>

<div id="main">
    <h1 id="main-title">YOU WON A GIFT CARD</h1>
    <button hx-get="/giftcard" hx-swap="innerHTML" hx-trigger="click" class="sketchy-div">Click Me!</button>
</div>

<script th:src="@{js/htmx.min.js}"></script>
</body>
</html>